.App {
  text-align: center;
  min-height: 100vh;
  margin: 0;
  position: relative;
}

.content-div{
  margin: 0;
  padding-bottom: 4em;
}

.App-header {
  color: white;
}

.Header-top-line {
  background-color: #804288;
  width: 100%;
  height: 8vh;
  padding-bottom: 15px;
  padding-top: 15px;
  margin: 0;
}

.Header-top-line h1 {
  margin: 0;
}

.footer{
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 4em;
  background-color: #804288;
}

.footer p{
  color: white;
  padding-top: 15px;
  margin: 0;
}

