.symptoomcheck-container{
    width: 100%;
    height: 75vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.symptoomcheck-div{
    border: 1px solid black;
    border-radius: 10px;
    padding: 5%;
    margin: 10%;
    width: 60%;
    height: 40%;
    margin: 5% auto
}

.start-screen{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 1em;
}

.start-knop-link{
    width: 40%;
    text-decoration: none;
    font-weight: 500;
}

.start-knop{
    padding: 4px;
    border-radius: 15px;
    background-color: green;
    color: white;
}

.antwoord-knop{
    width: 25%;
    text-decoration: none;
}

.antwoord-div{
    display: flex;
    justify-content: space-evenly;
}

.disclaimer{
    text-align: left;
    margin: 5% auto;
    width: 40%;
    border: 1px solid black;
    border-radius: 20px;
    padding: 10px 25px;
}